.icon.ion-speakerphone.logo {
  font-size: 20px;
  line-height: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 210px) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 13px;
}

body {
  padding-top: 50px !important;
}

#main {
  padding-top: 70px;
}

#posts {
  list-style: none;
}

#posts .h4, h4 {
  color: #444;
  font-size: 17.5px;
  margin-bottom: 0;
}

#foryou .h1, h1 {
  font-size: 27.5pt;
  padding: 20px;
  padding-left: 0;
}

.post-likes {
  color: #e41717;
  padding-right: 10px;
}

.post {
  border-left: 5px solid #FaFaFa;
  margin: 0 0 20px;
  padding: 10px 20px;
}

#post .small, small {
  padding-top: 0;
  margin-top: 0;
}

#posts {
  margin-left: 0;
  padding-left: 0;
}

.post div {
  font-size: 13px;
}

footer {
  display: fixed;
  bottom: 0;
  margin-bottom: 0;
  display: fixed !important;
}

.post-comments {
  color: #e5e839;
}

.info {
  padding-top: 10%;
  text-align: center;
}

.h1, h1 {
  /*margin-bottom: 0;*/
  padding-bottom: 0;
  color: black;
}

.info h1 {
  font-size: 56px;
  font-weight: bold;
}

.info .links {
  font-size: 17px;
  margin-bottom: 80px;
  font-weight: 500;
}

.info .get-started {
  margin-right: 20px;
}

#editor {
  padding: 5px;
  border-radius: 3px;
  border: 2px #eee solid;
}