{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="container" style="margin-top: 40px">
    <p>
        This was made by <a href="https://cbrblog.tech">Christian Barton Randall</a> as a method for people to be able to <i>speak up</i> in the
        world and express themselves.
    </p>

    <p>It was also made for my <a href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50</a> Final Project,
        I just want to write a few words of my journey with CS50,
        I started summer 2020 and am only finishing it in September when I could have finished it earlier, I've had multiple demotiviation periods,
        but I've finally managed to sit down and get it done, no matter who you are if you want to start programming CS50 is the perfect way to go.
    </p>
</div>
{% endblock %}
