{% extends "layout.html" %}

{% block title %}
    Edit post
{% endblock %}

{% block main %}
<div class="container">
    <form method="post" id="mainForm" style="padding-top: 40px;">
        <div class="form-row">
        <div class="form-group col-md-4">
            <label for="postName">Link (alphanumeric)</label>
            <input value="{{ info.link }}" name="link" type="text" patten="^[a-zA-Z0-9_]*$" class="form-control" id="blogName">
        </div>
        </div>
        <p class="small">https://cbrfinalproject.herokuapp.com/blogs/{{name}}/posts/<span id="urlBlogName" style="color:#2ecc71; font-weight: bold;" class="blogName"></span></p>
        <div class="form-group">
            <label for="inputDesc">Title</label>
            <input value="{{ info.title }}" name="title" type="text" class="form-control" id="inputDesc" placeholder="Title of your post..">
        </div>
        <div class="form-group">
            <label for="inputDesc2">Blurb</label>
            <input value="{{ info.description }}" name="blurb" type="text" class="form-control" id="inputDesc2" placeholder="A brief explanation of the post..">
        </div>
        <hr>
        <div class="form-group">
            <textarea placeholder="Write a nice little post.." name="markdown" id="editor" cols="50" rows="10">{{ content }}</textarea>
        </div>
        <!-- <div class="form-group">
            <a href="javascript:edit()">Click Here For Full Editor</a>
        </div> -->
        <button id="editPost" disabled="true" type="submit" class="btn btn-primary">Edit Post</button>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
<script>
function changed() {
    const bool1 = /^[a-zA-Z0-9_]*$/.test(document.getElementById("blogName").value) && document.getElementById("blogName").value != "";
    const bool2 = document.getElementById("inputDesc").value != "";
    const val = $.trim($("#editor").val());
    const bool3 = val != "";

    if (bool1 && bool2 && bool3){
        $("#editPost").removeAttr("disabled");
    } else {
        $("#editPost").prop("disabled", "true");
    }
}

document.getElementById("editor").addEventListener("click", edit);
document.getElementById("editor").addEventListener("keyup", edit);
document.getElementById("editor").addEventListener("change", edit);

document.getElementById("editor").addEventListener("click", changed);
document.getElementById("editor").addEventListener("keyup", changed);
document.getElementById("editor").addEventListener("change", changed);

function edit(){
    stackedit.openFile({
        name: 'Filename', // with an optional filename
        content: {
        text: $.trim(el.value) // and the Markdown content.
        }
    });
}

const el = document.querySelector('textarea');
  const stackedit = new Stackedit();

  // Listen to StackEdit events and apply the changes to the textarea.
  stackedit.on('fileChange', (file) => {
    el.value = file.content.text;
  });

window.onload= function(){
    document.getElementById("blogName").addEventListener("change", changed);
    document.getElementById("blogName").addEventListener("keyup", changed);
    document.getElementById("inputDesc").addEventListener("change", changed);
    document.getElementById("inputDesc").addEventListener("keyup", changed);
    document.getElementById("inputDesc2").addEventListener("change", changed);
    document.getElementById("inputDesc2").addEventListener("keyup", changed);

    setInterval(changed, 3000)

    changed()
}

nameInput = document.getElementById("blogName");

nameInput.addEventListener("keyup", function () {
    $("#urlBlogName").text(nameInput.value);
    if (/^[a-zA-Z0-9_]*$/.test(nameInput.value)) {
        $("#urlBlogName").css("color", "#2ecc71");
    } else {
        $("#urlBlogName").css("color", "red");
    }
});
</script>
{% endblock %}

{% block extracss %}
<style>
    input[pattern]:invalid > #urlBlogName {
        color:red !important;
    }
</style>
{% endblock %}